@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;

.gallery-container{
    padding: 0;
    // margin: 0 em(15);
    margin-top: em(85);
    
    position: relative;
    h2{
        margin: 0;
        text-align: center;          
        font-weight: 600;
        text-transform: uppercase;;
        font-size: 2em;
        padding: 0 25%;
        font-family: $heading-font;
    }
    p{
        margin: 0;
        padding: 0 10%;
        text-align: center;
        font-weight: 400;   
        margin-bottom: em(20);
    } 
        .image-container{
            padding: 0 10%;
            border-bottom: 1px solid rgb(165, 163, 163);
            display: grid;
            grid-template-columns: 2fr 1fr;
            gap:em(16);
            align-items: center;
            padding-bottom: em(20);
            padding-top: em(10);
            &:last-child {
                border-bottom: none;
                margin-bottom: em(150);
            }
            img{
                object-fit: cover;
                width: 100%;
                height: 100%;
                display: block; 
            }  
            h3{
                // text-align: center;          
                font-weight: 700;
                text-transform: uppercase;;
                font-size: 1.2em;
                color:$text-color-grey;;
                #{$lps} {
                    color:$text-color-blue;
                }
            }
            a{
                display: none;
                color:$text-color-grey;
            }
    }
    @include mq($phoneLandscape){
        margin-top: em(30);
        p{
            padding: 0 20%;
        }
        .image-gallery{
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding:0 em(30);
            .image-container{
                padding:0;
                border-bottom: none;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1.8fr 1fr 1fr;
                align-items: flex-start;
                margin-bottom: em(20);
                gap:0;
                    h3{
                        color: $text-color-blue;
                        font-size: 1.5em;
                        text-align: center; 
                        padding: 0 20%; 
                        #{$lps} {
                            color:$text-color-grey;
                        }                 
                    }
                    a{
                        margin: 0;
                        display: block; 
                        text-align: center;                      
                    }            
            }
        }
    }
    // @include mq($tabletLandscape){
    //     .image-gallery .image-container{
    //         display: grid;
    //             grid-template-columns: 1fr;
    //             grid-template-rows: 2fr 0.8fr 0.8fr;
    //     }
    // }
}

.wave-dark-container{
    position: absolute;
    bottom: -150px;
    left: -60px;
    width: 150%;
    height: 150px;
    overflow: hidden;

    img{
        max-width: initial;
        width: 170%;
        height: 100%;
    }
    @include mq($phoneLandscape){
        left:0;
        bottom: -20px;
        width: 100%;
        height: 100px;
        img{
            max-width: 100%;
            width: 100%;
            height: 100%;
        }       
    }
}