@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

header {
    background-color: rgb(104, 104, 104);
    padding: em(8) em(15);
    @include flex-layout-row;
    align-items: center;
    position: absolute;
    background-color: rgba(112, 112, 112, 0.5);;
    z-index: 40;
    width: 100vw;

    h1 {
        @include flatten;
        color: $text-color-light;
        font-size: em(26);
        @include mq($phoneLandscape){
            font-size: em(32);
        }
    }

    a {
        @include plain-link;
    }

}