@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

header {
    background-color: $brand-color;
    padding: em(8) em(15);
    @include flex-layout-row;
    align-items: center;
    position: absolute;
    z-index: 20;
    width: 100%;

    h1 {
        @include flatten;
        color: $text-color-light;
        font-size: em(26);
        @include mq($phoneLandscape){
            font-size: em(32);
        }
    }

    a {
        @include plain-link;
    }

}