@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;

svg {
    width: em(100);
    height: em(50);

    @include mq($phoneLandscape) {
        display: block;
        margin: 0 auto;
        width: em(200);
        height: em(100);
    }
}