@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

nav {
    // locally scoped variable
    $height: 40px;
    $border: 1px solid white;
    
    background-color: rgba(75, 75, 75, 0.5);
    display: none;
    position: absolute;
    z-index: 30;
    width: 100vw;
    .show & {
        display: block;

        width: 100vw;
        background-color: rgba(75, 75, 75, 0.5);
    }

    ul {
        @include flatten(true);
    }

    a {
        display: block;
        line-height: 40px;
        padding-left: em(15);
        color: $text-color-light;
        line-height: 1.5em;
        font-size: 1.2em;
        text-decoration: none;
        outline: none;
        
        #{$lps} {
            background-color: rgba(white, 0.3);
        }

    }

    @include mq($phoneLandscape) {
    
        display: block;
        height: $height;
        border-top: $border;

        ul {
            display: flex;
        }

        li {
            flex: 1;
        }

        a {
            line-height: $height;
            border-right: $border;
            border-top: $border;
            @at-root nav li:last-child a {
                border-right: none;
            }
        }
        
    }

}