@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

.product-advisor {
    background-color: rgba(21,74,102,255);
    color: white;
    text-align: center;
    width: 100%;
    hr {
        margin-left: em(15);
        margin-right: em(15);
    }

    h2 {
        text-transform: uppercase;
        margin-bottom: em(-10);
    }
    button {
        padding:em(15) em(8);  
        background-color: $text-color-blue;
        border: none; 
        font-size: 1em;
        color: white;
        margin: em(40) em(10);
        text-decoration: none; 
        text-transform: uppercase;
        width: 95%
    }
    .grid-dropdowns {
        display: grid;
        grid-template-columns: 1fr;
        gap: em(10);
            label {
                text-align: left;
                margin-left: em(15);
                margin-top: em(10);
                text-transform: uppercase;
                font-family: $heading-font;
                float: left;
            }
            select {
                margin: em(5) em(10);
                padding: em(15) em(5);
                background-color: darkgray;
                font-size: .9em;
                width: 95%;
                box-sizing: border-box;
                color: rgb(77, 77, 77);
            }

        .first-select {
            background-color: white;
        }

    }

    @include mq($tabletPortrait) {
        .grid-dropdowns {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: em(0);

            select {
                margin-left: em(-5);
                margin-right: em(-5);
            }
        }

        button {
            width: 97.5%;
        }
    }

    @include mq($desktopMedium) {
        .grid-dropdowns {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            gap: em(0);
            width: 100%;
            select {
                margin-left: em(-20);
                margin-right: em(-20);
                width: 90%;
            }

        }
        button {
            width: 98%;
        }
    }
}