@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;
.slider-container{
    padding: 0;
    margin: 0;
    position: relative;
    margin-bottom: em(40);

    .image-container img{
        object-fit: cover;
        width: 100%;
        height: 100%;
        display: block;    
        height: 80vh;       
    }
    .slick-dots{
        position: absolute;
        bottom: em(70);
        display: block;
        width: 100%;
        margin: 0;
        list-style: none;
        text-align: center;

        li button:before{
            color: white;
            font-size:12px;
            opacity: 1;
            padding: 0;
            margin: 0;
        }
        li.slick-active button:before{
            color:$text-color-blue;        
        }
        @include mq($phoneLandscape){
            bottom: em(80);
            li button:before{
                font-size:15px;
            }
        }
        @include mq($tabletLandscape){
            bottom: em(100);
        } 
        
    }
    
    
    
}
.image-container{
    position: relative;
    font-family: $heading-font;
    .header-container {
        display: none;
        @include mq($tabletPortrait) {
            text-transform: uppercase;
            width: 100%;
            display: block;
            position: absolute;
            top: 0;
            
            .info-bar {
                padding-top: em(15);
                text-align: center;
                display: flex;
                flex-direction: row;
                .info-left {
                    width: 50%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;

                    ul {
                        @include flatten(true);
                        // display: flex;
                        // flex-direction: row;
                        // justify-content:flex-end;
                        // flex-wrap: wrap;
                        
                    }
    
                    li {
                        display: inline-block;
                    }
                    a {
                        display: block;
                        color: $text-color-light;
                        text-decoration: none;
                        outline: none;
                    }

                    li:last-child {
                        padding-left: em(20);
                    }
                }
    
                .info-right {
                    width: 50%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    text-align: right;

                    ul {
                        @include flatten(true);
                        // display: flex;
                        // flex-direction: row;
                        // justify-content:flex-end;
                        // flex-wrap: wrap;
                        
                    }
    
                    li {
                        display: inline-block;
                    }
                    a {
                        display: block;
                        color: $text-color-light;
                        text-decoration: none;
                        outline: none;
                    }

                    li:first-child {
                        padding-right: em(20);
                    }
                }
            }
    
            .nav-tablet-desktop {
                margin-top: em(-45);
                text-align: center;

                ul {
                    @include flatten(true);
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    flex-wrap: wrap;
                }

                a {
                    display: block;
                    line-height: 40px;
                    padding: em(15) em(40);
                    color: $text-color-light;
                    line-height: 1.5em;
                    font-size: .8em;
                    text-decoration: none;
                    outline: none;
                    font-weight: 100;
                    background-color: $brand-color;
                    #{$lps} {
                        background-color: rgb(113, 171, 223)
                    }
            
                }


            }
            svg {
                height: em(200);
                width: em(175);
                display: block;
                margin: 0 auto;
                margin-top: em(-60);
            }
        }
    }

    .text-container{
        padding: 0;
        margin: 0 em(34);
        position: absolute;
        top: 50%;
        transform: translateY(-60%);
        
        h2{
            margin:0;
            padding: 0;
            text-align: center;
            color: white;           
            margin-bottom: em(10); 
            font-weight: 700;
            text-transform: uppercase;;
            font-size: 1.8em;
        }
        .link-container{
            margin:0;
            padding:0;
            width: 100%;
            @include flex-center;     
            a{
                padding:em(8);  
                background-color: transparent;
                border: 1px solid white;
                color: white;
                margin-top:em(10);
                text-decoration: none; 
                text-transform: uppercase;; 
            }
                    
        }
        @include mq($phoneLandscape){
            width: 80%;
            margin:0 10%;
            h2{
                margin-bottom: em(30);
            }
            .link-container{
                display: flex;
                flex-direction: row;
                justify-content: center;
            a{
                margin-right: em(20);
            }
          }

        }  
        @include mq($tabletLandscape){
            width: 50%;
            margin:0 25%;
            padding:0;

        }
       
    }
}



