@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;
.slider-container{
    padding: 0;
    margin: 0;
    position: relative;
    margin-bottom: em(40);
    z-index: 1;

    .image-container img{
        object-fit: cover;
        width: 100%;
        height: 100%;
        display: block;    
        min-height: 650px;     
    }
    .slick-dots{
        position: absolute;
        bottom: em(90);
        display: block;
        width: 100%;
        margin: 0;
        list-style: none;
        text-align: center;

        li button:before{
            color: white;
            font-size:12px;
            opacity: 1;
            padding: 0;
            margin: 0;
        }
        li.slick-active button:before{
            color:$text-color-blue;        
        }
        @include mq($phoneLandscape){
            bottom: em(100);
            li button:before{
                font-size:15px;
            }
        }
        // @include mq($tabletLandscape){
        //     bottom: em(100);
        // } 
        
    }
    
    
    
}
.slick-active{
    z-index: 9;
}
.image-container{
    position: relative;
    font-family: $heading-font;
    .header-container {
        display: none;
        @include mq($tabletPortrait) {
            text-transform: uppercase;
            width: 100%;
            display: block;
            position: absolute;
            top: 0;
            .nav-tablet-desktop{
                margin-top: em(-45);
                text-align: center;

                ul {
                    @include flatten(true);
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    flex-wrap: wrap;

                    a {
                        display: block;
                        line-height: 40px;
                        padding: em(15) em(50);
                        color: $text-color-light;
                        line-height: 1.5em;
                        font-size: .8em;
                        text-decoration: none;
                        outline: none;
                        font-weight: 100;
                        background-color: $brand-color;
                        &:hover {
                            background-color: $text-color-blue
                        }
                    }
                }
            }
            .info-bar {
                padding-top: em(15);
                text-align: center;
                display: flex;
                flex-direction: row;
                .info-left {
                    width: 50%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;

                    ul {
                        @include flatten(true);
                    }
    
                    li {
                        display: inline-block;
                        a {
                            display: block;
                            color: $text-color-light;
                            text-decoration: none;
                            outline: none;
                        }
                    }

                    li:last-child {
                        padding-left: em(20);
                    }
                }
    
                .info-right {
                    width: 50%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    text-align: right;

                    i {
                        background-color: white;
                        color: black;

                        border-radius: 25px;
                        margin-right: em(5);
                    }
                    svg {
                        height: 100px;
                        width: 100px;
                    }
                    ul {
                        @include flatten(true);
                        // display: flex;
                        // flex-direction: row;
                        // justify-content:flex-end;
                        // flex-wrap: wrap;
                        
                    }
    
                    li {
                        display: inline-block;
                    }
                    a {
                        display: block;
                        color: $text-color-light;
                        text-decoration: none;
                        outline: none;
                    }

                    li:first-child {
                        padding-right: em(20);
                    }
                }
            }

            svg {
                height: em(200);
                width: em(175);
                display: block;
                margin: 0 auto;
                margin-top: em(-60);
            }
        }

        @include mq($tabletLandscape) {
            svg {
                height: em(240);
                width: em(220);
                display: block;
                margin: 0 auto;
                margin-top: em(-60);
            }

            .info-left {
                width: 30%;

            }

            .info-right {
                width: 30%;

            }

            .nav-tablet-desktop {
                margin-top: em(-60);
                ul {
                    a {
                        padding: em(10) em(40);
                        font-size: 1em;
                    }
                }
            }
        }

        @include mq($desktopMedium) {

            .info-left {
                width: 10%;

            }

            .info-right {
                width: 10%;

            }

            .nav-tablet-desktop {
                margin-top: em(-35);
                ul {
                    a {
                        padding: em(25) em(50);
                        font-size: 1em;
                    }
                }
            }
        }

        @include mq(em(1600)) {
            .header-container {
                width: 100vw;
            }
            .info-left {
                width: 50%;

            }

            .info-right {
                width: 50%;

            }
        }
    }

    .text-container{
        padding: 0;
        margin: 0 em(34);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        
        h2{
            margin:0;
            padding: 0;
            text-align: center;
            color: white;           
            margin-bottom: em(10); 
            font-weight: 700;
            text-transform: uppercase;
            font-size: 1.8em;
        }
        .link-container{
            z-index:999;
            position: relative;
            margin:0;
            padding:0;
            width: 100%;
            @include flex-center;     
            a{
                padding:em(8);  
                background-color: transparent;
                border: 1px solid white;
                color: white;
                margin-top:em(10);
                text-decoration: none; 
                text-transform: uppercase;
                #{$lps} {
                    background-color: white;
                    color:$text-color-blue;

                }
            }           
                    
        }

        @include mq($phonePortrait) {
            transform: translateY(-70%);
        }

        @include mq($phoneLandscape){
            transform: translateY(-60%);
            width: 80%;
            margin:0 10%;
            h2{
                margin-bottom: em(30);
            }
            .link-container{
                display: flex;
                flex-direction: row;
                justify-content: center;
            a{
                margin-right: em(20);
            }
          }

        }  

        @include mq($tabletLandscape){
            transform: translateY(-50%);
            width: 50%;
            margin:0 25%;
            padding:0;

        }
       
        @include mq($desktopMedium) {
            h2 {
                font-size: 2.5em;
            }
            transform: translateY(-20%);
        }

        // @include mq(em(1600)) {
        //     h2 {
        //         font-size: 3.5em;
        //     }
        //     .link-container {
        //         margin-top: em(-100);
        //     }
        // }
    }
}

