@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

.dt {
    // Data Table Heading Colours
    $table-caption-color: #dadada;
    $table-headings-color: darken($table-caption-color, 20);

    // Data Table Column Colours
    $colour1: rgb(1, 41, 95);
    $colour2: rgb(67, 127, 151);
    $colour3: rgb(177, 27, 52);
    $colour4: rgb(255, 179, 15);
    $colour5: rgb(210, 223, 128);
    

    // Data Table Column Colour List
    $table-colours-list: $colour1, $colour2, $colour3, $colour4, $colour5;

    // Table Border
    $table-border: 1px solid black;

    // Table Cell padding
    $cell-padding: 10px;

    // Table Styles
    font-family: $heading-font;
    width: 100%;
    border: $table-border;

    th, td {
        text-align: center;
        padding: $cell-padding;
        border: $table-border;
    }

    caption {
        background-color: $table-caption-color;
        padding: $cell-padding;
        font-size: em(19);
        border-right: $table-border;
        border-left: $table-border;
        border-top: $table-border;
    }

    thead tr,
    tfoot tr {
        background-color: $table-headings-color;
    }

    
    
    tbody {
        tr {
            &:nth-child(even){
                background-color: lightblue;
            }
            &:nth-child(odd){
                background-color: pink;
            }
        }
        td {
            display: block;
            &:before {
                content: attr(data-th) ": ";
                display: inline-block;
                margin-right: 10px;
                font-weight: bold;
            }
            @at-root .dt tbody tr td:nth-child(1n){
                background-color: transparent;
                color: black;
            }
            
        }    
    }

    th {
        display: none;
    }

    @include mq($phoneLandscape) {
        
        tbody {

            tr {
                @for $i from 1 through length($table-colours-list){
                    td:nth-child(#{$i}){
                        background-color: nth($table-colours-list, $i);
                        color: contrast-text-color(nth($table-colours-list, $i));
                        // &:hover {
                        //     $bgc: rgba(nth($table-colours-list, $i), 0.6); 
                        //     background-color: $bgc;
                        //     color: contrast-text-color($bgc);
                        // }
                    }
                }
            }

            td {
                text-align: left;
                display: table-cell;
            }
            
            td:before {
                display: none;
            }
    
        }

        th {
            display: table-cell;
        }
    
    }

}